.contenido{
    display: grid;
    gap: 4rem;
}

@media (min-width:768px){
    .contenido{
        grid-template-columns: repeat(2,1fr);
        /*  para que la imagen no se estire sino que se centre */
        align-items: center;
    }
}